@using System.Security.Claims;
@model IEnumerable<Employee>

<a class="btn btn-info btn-lg" role="button" asp-action="NewEmployee">Pridėti naują Darbuotoją</a>
<hr />
<table class="table table-striped">
    <tr>
        <td><strong>Vardas Pavardė</strong></td>
        <td><strong>E-pašas</strong></td>
        <td><strong>Pareigos</strong></td>
        <td><strong>Skyrius</strong></td>
        <td><strong>Nustatymai</strong></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name @item.Surname</td>
            <td>@item.Email</td>
            <td>@item.Position.Name</td>
            <td>@item.Sector.Name</td>
            <td>
                @if (User.Identities.First(u => u.IsAuthenticated && u.HasClaim(c => c.Type == "UserID")).FindFirst("UserID").Value != String.Join("",item.ID))
                {
                    <a class="btn btn-warning btn-xs" role="button" asp-action="EditEmployee" asp-route-id="@item.ID"><i class="glyphicon glyphicon-edit"></i></a>
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#exampleModal" data-whatever="@item.ID"><i class="glyphicon glyphicon-trash"></i></button>
                }
            </td>
        </tr>
    }
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pašalinimas</h4>
            </div>
            <div class="modal-body">
                <p>Ar tikrai norite pašalinti darbuotoją iš sistemos?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
                <button id="what" type="button" class="btn btn-primary">Taip</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')

            var modal = $(this)

            $("#what").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/Dashboard/DeleteEmployee/" + recipient,
                    data: {
                        id: recipient, // < note use of 'this' here
                    },
                    success: function (result) {
                        location.reload();
                    },
                    error: function (result) {
                    }
                });
            });
        })
    });
   
</script>