@model IEnumerable<KompleksinisV2.Models.Message>


<h1>Pardavimų skyriaus pranešimai</h1>
<hr />
<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-action="Comments" asp-route-id="@item.ID">@item.Title</a></td>
            <td>@item.Employee.Name @item.Employee.Surname</td>
            <td>@item.WriteDate</td>
        </tr>
    }

</table>