@model IEnumerable<KompleksinisV2.Models.Order>
<h2>Užsakymai</h2>
<hr />
<a class="btn btn-info btn-lg" role="button" asp-action="NewOrder">Pridėti naują užsakymą</a>
<hr />

<div class="row">
    <div class="col-xs-6">
        <form asp-action="Orders" method="get" class="form-inline">
            <div class="form-actions no-color">
                <p>
                    Ieškoti pagal kliento vardą: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Ieškoti" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
    <div class="col-xs-6">
        <form asp-action="Orders" method="get" class="form-inline">
            <div class="form-actions no-color">
                <p>
                    Ieškoti pagal būseną:
                    <select name="SearchMe" class="form-control" asp-items="ViewBag.States">
                        <option value=""></option>
                    </select>

                    <input type="submit" value="Ieškoti" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <td><strong>ID</strong></td>
        <td><strong><a asp-action="Orders" asp-route-sortOrder="@ViewData["clientSortParam"]">Klientas</a></strong></td>
        <td><strong>Pastabos</strong></td>
        <td><strong><a asp-action="Orders" asp-route-sortOrder="@ViewData["stateSortParam"]">Būsena</a></strong></td>
        <td><strong>Pasirinkimai</strong></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Client.Name @item.Client.Surname</td>
            <td>@item.Notes</td>
            <td>@item.State.Name</td>
            <td>
                <a class="btn btn-warning btn-xs" role="button" asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-edit"></i> Peržiūrėti</a>
                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteModal" data-whatever="@item.ID"><i class="fas fa-ban"></i> Ištrinti</button>
            </td>

        </tr>
    }
</table>

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Pašalinimas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ar tikrai norite pašalinti Užsakymą iš sistemos?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                <button id="what" type="button" class="btn btn-primary">Taip</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#DeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')

            var modal = $(this)

            $("#what").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/Sales/DeleteOrder/" + recipient,
                    data: {
                        id: recipient,
                    },
                    success: function (result) {
                        location.reload();
                    },
                    error: function (result) {
                    }
                });
            });
        })
    });

</script>
